@keyframes colorChange {
    0% {
      fill-opacity: 0.6;
      fill: #004E87;
    }
    50% {
      fill-opacity: 1;
      fill: #00A4CC;
    }
    100% {
      fill-opacity: 0.6;
      fill: #004E87;
    }
  }
  
  .wave path {
    animation: colorChange 5s infinite;
  }

  svg {
    width: 100vw; 
    height: auto; 
    display: block;
    max-width: 100%; 
  }

  .svg-button {
    width: 309px;
    height: 83px;
    background-color: #fcfc03;
    position: relative;
    border: 2px solid #ede4b5;
    cursor: pointer;
    outline: none;
    color: #202020;
    font-size: 24px;
    clip-path: path('M1 26.3399C1 25.2972 1.40716 24.2957 2.13475 23.5488L22.9225 2.20889C23.6754 1.43595 24.7087 1 25.7877 1H304C306.209 1 308 2.79086 308 5V55.9295C308 57.0372 307.541 58.0952 306.732 58.8516L283.121 80.9221C282.38 81.6147 281.403 82 280.389 82H5C2.79086 82 1 80.2091 1 78V26.3399Z');
  }
  
  .svg-button:hover {
    background-color: #f8f802; 
  }
  
  .svg-button:focus {
    box-shadow: 0 0 0 2px #c1bf15; 
  }