.clip-container {
    width: 727px;
    height: 344px;
    position: relative;
    background-color: #272726;
    clip-path: path("M40 63L62.5 43H175L216 10H707V220.5L669.5 257.5H585.5L544.5 293.5H40V63Z");
}


.clip-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


