// Text
$text_secondary: #FFFFFF;
$text_primary_btn: #202020;
$text_input: rgba(0, 0, 0, 0.7);
$text_modal: #EDE4B5;
$text_mini_header: #716868;
$text_token_header: #555555;

// Background
// $bg_primary: ;
$bg-primary-btn: #fcfc03;
$bg_primary-disabled: #312F2B;
$bg_input-disabled: #F4F4F4;
