// $font-family: (
//   R: ,
// );

$font-size: (
  S: 16px,
  M: 24px,
  L: 32px,
);

$line-height: (
  S: 20px,
  M: 32px,
  L: 36px,
  XL: 40px,
);

$font-weight: (
  R: 400,
  M: 500,
  SB: 600,
  B: 700,
);
